<!DOCTYPE html>
<html>

<head> </head>

<body>
    

    <form action="result">
        age: <input type="number" name="age"><br>
        sex:<input type="number" name="sex"><br>
        chest pain type:<input type="" name="chest_pain"><br>
        resting blood pressure:<input type="number" name="bp"><br>
        Serum choresterol:<input type="number" name="choresterol"><br>
        fasting_blood_pressure:<input type="number" name="fbp"><br>
        resting electrocardiographic:<input type="number" name="electrograph"><br>
        max_heart_rate:<input type="number" name="max"><br>
        exercise induced angina: <input type="number" name="angina"><br>
        oldpeak: <input type="number" name="oldpeak"><br>
        slope_of_peak:<input type="number" name="slope"><br>
        major_vessels:<input type="number" name="vessels"><br>
        thal:<input type="number" name="thal"><br>
        

        <input type="submit">
</body>

</html>